.main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 1259px;
  padding: 60px 100px;
  background: none;
  justify-content: center;
  gap: 50px;
  opacity: 1;
}

.tournament_table {
  width: 1903px;
}

.tour-tbl_title {
  color: #10498a;
  font-family: "DIN Pro Bold";
  font-size: 42px;
  text-align: center;
}

.tour-tbl {
  width: 1470px;
  height: 978px;
  border-radius: 30px;
  margin: auto;
  background-color: rgb(229, 229, 229, 0.5);
}

.select,
.select option {
  display: block;
  width: 700px;
  padding: 20px;
  border-radius: 0;
  border: none;
  outline: none;
  font-family: 'DIN Pro Bold';
  font-size: 24px;
  background-color: rgb(229, 229, 229, 0.5);
  margin-right: auto;

}

.select::before,
.select::after,
.select option::before,
.select option::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
}

.last_game {
  width: 1903px;
}
.game_title {
  color: #10498a;
  font-family: "DIN Pro Bold";
  font-size: 42px;
  text-align: center;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1470px;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(229, 229, 229, 0.5);
}
.command_1,
.command_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 64px;
  line-height: 1;
  color: #10498a;
  font-family: "DIN Pro Bold";
}

.command_1 img,
.command_2 img {
  display: block;
  width: 200px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.match {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 32px;
  line-height: 1;
  color: #10498a;
  font-family: "DIN Pro Light";
  gap: 10px;
}

.Statisitc {
  width: 1903px;
}

.statistic_title {
  color: #10498a;
  font-family: "DIN Pro Bold";
  font-size: 42px;
  text-align: center;
}

.statictic_tbl {
  width: 1470px;
  height: 978px;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(229, 229, 229, 0.5);
}
