<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/template.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <img src="content/images/logo.png" alt="Лого сайта" class="logo" id="logo">
        <div class="navigation">
            <a href="" class="main-link">Главная</a>
            <a href="" class="teams-link">Команды</a>
            <a href="" class="timetable-link">Расписание</a>
            <a href="" class="results-link">Результаты</a>
            <a href="" class="archive-link">Архив</a>
            <a href="" class="contacts-link">Контакты</a>
        </div>
        <div class="buttons">
            <a href="" class="registration-btn">Регистрация</a>
            <a href="" class="logIn-btn">Войти</a>
        </div>
    </header>

    <main class="main">{% block content %}{% endblock content %}</main>

    <footer>
        <img src="content/images/logo.png" alt="Лого сайта" class="logo">
        <div class="links">
            <div class="link-str">
                <a href="" class="vk-link"><i class='bx bxl-vk'></i></a>
                <a href="" class="doc-link">Документация</a>
                <a href="" class="contact-link">Контакты</a>
                <a href="" class="site-link">www.ystu.ru</a>
            </div>
            <div class="link-buttons">
                <a href="" class="mail-link">ПОЧТА@YSTU.RU</a>
                <div class="btn-lnk">
                    <a href="" class="registration-btn">Регистрация</a>
                    <a href="" class="logIn-btn">Войти</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>