{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href=" {% static 'css/contacts.css' %}">
    <link rel="shortcut icon" href=" {% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Контакты</title>
</head>
<body>
    <div class="flag" id="flag"></div>

    {% include 'login_registration.html' %}

    <header id="header">
        <img src=" {% static 'content/images/logo.png' %}" alt="Лого сайта" class="logo" id="logo">
        <div class="navigation">
            <a href="{% url 'index' %}" class="main-link">Главная</a>
            <a href="{% url 'Teams:teams' %}" class="teams-link">Команды</a>
            <a href="{% url 'Games:schedule' %}" class="timetable-link">Расписание</a>
            <a href="{% url 'results' %}" class="results-link">Результаты</a>
            <a href="{% url 'Games:archieve' %} " class="archieve-link">Архив</a>
            <a href="{% url 'contact' %}" class="contacts-link">Контакты</a>
        </div>
        <div class="buttons">
            {% if not user.is_authenticated %}
            <div class="buttons">
                <p class="registration-btn" id="registration-button_header">Регистрация</p>
                <p class="logIn-btn" id="logIn-button_header">Войти</p>
            </div>
            {% elif user.is_superuser %}
            <div class="buttons">
                <div class="registration-btn" id="registration-button_header" style="display:none;"></div><div class="logIn-btn" id="logIn-button_header" style="display:none;"></div>
                <p class="registration-btn"><a href="{% url 'admin:index' %}">Управление</a></p>
                <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
            </div>
            {% else %}
            <div class="buttons">
                <div class="registration-btn" id="registration-button_header" style="display:none;"></div><div class="logIn-btn" id="logIn-button_header" style="display:none;"></div>
                <p class="registration-btn">Личный кабинет</a></p>
                <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
            </div>
            {% endif %}
        </div>
    </header>

    <main class="main">
        <div class="reglog_backgr"></div>

        <section class="organizers">
            <p class="tour-org_title">Организаторы</p>
            <div class="pht-org">
                <div class="pht-org_card">
                    <div class="pht-org_photo"></div>
                    <p class="pht-org_signature">
                        Фамилия Имя
                        Должность
                        Контактный телефон
                    </p>
                </div>
                <div class="pht-org_card">
                    <div class="pht-org_photo"></div>
                    <p class="pht-org_signature">
                        Фамилия Имя
                        Должность
                        Контактный телефон
                    </p>
                </div>
                <div class="pht-org_card">
                    <div class="pht-org_photo"></div>
                    <p class="pht-org_signature">
                        Фамилия Имя
                        Должность
                        Контактный телефон
                    </p>
                </div>
                <div class="pht-org_card">
                    <div class="pht-org_photo"></div>
                    <p class="pht-org_signature">
                        Фамилия Имя
                        Должность
                        Контактный телефон
                    </p>
                </div>
            </div>
        </section>

        <section class="partner">
            <p class="tour-pr_title">Партнер</p>
            <div class="pht-pr">
                <div class="pht-pr_card">
                    <div class="pht-pr_photo"></div>
                    <p class="pht-pr_signature">
                        Название компании
                        Ссылка на сайт
                    </p>
                </div>
                <p class="pr_card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, porro ut voluptatibus ex explicabo eligendi! Quasi, modi cupiditate porro corporis voluptatem odit non ducimus, possimus nesciunt corrupti animi eum consequatur!
                    Placeat corrupti in facilis molestiae quod tempora fugit similique, quasi dicta accusantium possimus distinctio perspiciatis repudiandae quidem neque. Corrupti voluptates officia autem quas, rem est velit dolorum tempore vitae voluptas?
                    Recusandae dolorem odit qui tempora, saepe laboriosam rem nisi dicta est asperiores tempore earum? Alias consequuntur illo, illum, quam voluptas fugit tempora veritatis reprehenderit harum recusandae, rem porro impedit deserunt?
                </p>
            </div>
        </section>
    </main>

    <footer>
        <img src=" {% static 'content/images/logo.png' %}" alt="Лого сайта" class="logo">
        <div class="links">
            <div class="link-str">
                <a href="https://vk.com/ystu_physedu" target="_blank" class="vk-link"><i class='bx bxl-vk'></i></a>
                <a href=" {% url 'docs' %} " class="doc-link">Документация</a>
                <a href=" {% url 'contact' %} " class="contact-link">Контакты</a>
                <a href="https://www.ystu.ru/" target="_blank" class="site-link">www.ystu.ru</a>
            </div>
            <div class="link-buttons">
                <a href="" class="mail-link">ПОЧТА@YSTU.RU</a>
                <div class="btn-lnk">
                    {% if not user.is_authenticated %}
                        <p class="registration-btn" id="registration-button_footer">Регистрация</p>
                        <p class="logIn-btn" id="logIn-button_footer">Войти</p>
                    {% elif user.is_superuser %}
                    <div class="registration-btn" id="registration-button_footer" style="display:none;"></div><div class="logIn-btn" id="logIn-button_footer" style="display:none;"></div>
                        <p class="registration-btn"><a href="{% url 'admin:index' %}">Управление</a></p>
                        <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
                    {% else %}
                    <div class="registration-btn" id="registration-button_footer" style="display:none;"></div><div class="logIn-btn" id="logIn-button_footer" style="display:none;"></div>
                        <p class="registration-btn">Личный кабинет</a></p>
                        <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'scripts/reg.js' %}"></script>
</body>
</html>