{%extends 'layout.html'%}
{% load static %}
{%block title%}Документация{%endblock title%}
{%block style%}<link rel="stylesheet" href="{% static 'css/docs.css' %}">{%endblock style%}
<!--<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/docs.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Документация</title>
</head>
<body>
    <div class="flag" id="flag"></div>

    {% include 'login_registration.html' %}

    <header id="header">
        <img src="{% static 'content/images/logo.png' %}" alt="Лого сайта" class="logo" id="logo">
        <div class="navigation">
            <a href="{% url 'index' %}" class="main-link">Главная</a>
            <a href="{% url 'Teams:teams' %}" class="teams-link">Команды</a>
            <a href="{% url 'Games:schedule' %}" class="timetable-link">Расписание</a>
            <a href="{% url 'results' %}" class="results-link">Результаты</a>
            <a href="{% url 'Games:archieve' %} " class="archieve-link">Архив</a>
            <a href="{% url 'contact' %}" class="contacts-link">Контакты</a>
        </div>
        {% if not user.is_authenticated %}
        <div class="buttons">
            <p class="registration-btn" id="registration-button_header">Регистрация</p>
            <p class="logIn-btn" id="logIn-button_header">Войти</p>
        </div>
        {% elif user.is_superuser %}
        <div class="buttons">
            <div class="registration-btn" id="registration-button_header" style="display:none;"></div><div class="logIn-btn" id="logIn-button_header" style="display:none;"></div>
            <p class="registration-btn"><a href="{% url 'org' %}">Управление</a></p>
            <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
        {% else %}
        <div class="buttons">
            <div class="registration-btn" id="registration-button_header" style="display:none;"></div><div class="logIn-btn" id="logIn-button_header" style="display:none;"></div>
            <p class="registration-btn">Личный кабинет</a></p>
            <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
        {% endif %}
    </header>
-->{%block content%}
    <main class="main">
        <div class="reglog_backgr"></div>

        <div class="container">
            <a class="document-link" href="{% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 1
            </a>
            <a class="document-link" href=" {% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 2
            </a>
            <a class="document-link" href="{% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 3
            </a>
            <a class="document-link" href="{% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 4
            </a>
            <a class="document-link" href="{% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 5
            </a>
            <a class="document-link" href="{% static 'content/files/file.txt' %}" download>
                <i class='bx bxs-file-doc'></i>
                Документ 6
            </a>
        </div>
    </main>
    {%endblock content%}
<!--
    <footer>
        <img src="{% static 'content/images/logo.png' %}" alt="Лого сайта" class="logo">
        <div class="links">
            <div class="link-str">
                <a href="https://vk.com/ystu_physedu" target="_blank" class="vk-link"><i class='bx bxl-vk'></i></a>
                <a href=" {% url 'docs' %} " class="doc-link">Документация</a>
                <a href=" {% url 'contact' %} " class="contact-link">Контакты</a>
                <a href="https://www.ystu.ru/" target="_blank" class="site-link">www.ystu.ru</a>
            </div>
            <div class="link-buttons">
                <a href="" class="mail-link">ПОЧТА@YSTU.RU</a>
                <div class="btn-lnk">
                    {% if not user.is_authenticated %}
                        <p class="registration-btn" id="registration-button_footer">Регистрация</p>
                        <p class="logIn-btn" id="logIn-button_footer">Войти</p>
                    {% elif user.is_superuser %}
                    <div class="registration-btn" id="registration-button_footer" style="display:none;"></div><div class="logIn-btn" id="logIn-button_footer" style="display:none;"></div>
                        <p class="registration-btn"><a href="{% url 'org' %}">Управление</a></p>
                        <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
                    {% else %}
                    <div class="registration-btn" id="registration-button_footer" style="display:none;"></div><div class="logIn-btn" id="logIn-button_footer" style="display:none;"></div>
                        <p class="registration-btn">Личный кабинет</a></p>
                        <p class="logIn-btn"><a href="{% url 'logout' %}">Выйти</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
-->{%block scripts%}
    <script src=" {% static 'scripts/docs.js' %}"></script>
    <script src="{% static 'scripts/reg.js' %}"></script>
    {%endblock scripts%}
<!--</body>
</html>-->