<div class="regist_log">
    <p class="reglog_close-btn" id="reglog_close-button">❯</p>
    <div class="reglog_container">
        <form method="post" class="registration">
            {% csrf_token %}
            <p class="reg_text">Регистрация</p>
            <input class="reg_input" type="text" placeholder="Введите фамилию" name="last_name" required>

            <input class="reg_input" type="text" placeholder="Введите имя" name="first_name" required>

            <input class="reg_input" type="text" placeholder="Введите отчество (если имеется)" name="otchestvo">

            <input class="reg_input" type="date" placeholder="Введите дату рождения" name="birth_date" required>

            <input class="reg_input" type="email" placeholder="Введите электронную почту" name="email" required>

            <input class="reg_input" type="text" placeholder="Введите логин" name="username" required>

            <input class="reg_input" type="password" placeholder="Введите пароль" name="password1" required>

            <button class="reg_button" type="submit">Регистрация</button>
        </form>
        <div class="reg_line"></div>
        <form method="post" class="log_in">
            {% csrf_token %}
            <p class="log_text">Вход</p>
            <input class="log_input" type="text" placeholder="Введите логин" name="username" required>

            <input class="log_input" type="password" placeholder="Введите пароль" name="password" required>

            <button class="log_button" type="submit">Войти</button>
        </form>
    </div>
</div>