html, body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255,171,94);
    background: linear-gradient(45deg, rgba(255,171,94,1) 0%, rgba(198,198,255,1) 65%, rgba(91,108,255,1) 100%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Подключение шрифтов */

@font-face {
    font-family: "DIN Pro Regular";
    src: url(../content/fonts/dinpro.otf);
}

@font-face {
    font-family: "DIN Pro Light";
    src: url(../content/fonts/dinpro-light_0.otf);
}

@font-face {
    font-family: "DIN Pro Medium";
    src: url(../content/fonts/dinpro-medium_0.otf);
}

@font-face {
    font-family: "DIN Pro Bold";
    src: url(../content/fonts/dinpro-bold_0.otf);
}

/* Header */

header .logo {
    width: 400px;
    height: 75px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    height: 109px;
    background-color: rgb(80, 161, 235, 0.28);
}

header .logo {
    width: 410px;
    height: 75px;
    display: block;
    margin: auto;
}

header .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

header .navigation a {
    display: block;
    margin: auto;
    text-decoration: none;
    font-family: "DIN Pro Bold";
    color: #10498A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

header .navigation a:hover {
    color: #CE690E;
    text-decoration: underline;
}

header .navigation .main-link {
    color: #CE690E;
}

header .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

header .buttons a {
    display: block;
    margin: auto;
    text-align: center;
    color: #000;
    font-family: "DIN Pro Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

header .buttons .registration-btn {
    margin: auto;
    margin-right: 0;
    border: 3px solid #CE690E;
    padding: 5px 10px 5px 10px;
}

header .buttons .registration-btn:hover {
    background-color: #10498A;
    color: #fff;
}

header .buttons .logIn-btn {
    margin-left: 0;
    border: 3px solid #10498A;
    padding: 5px 10px 5px 10px;
}

header .buttons .logIn-btn:hover {
    background-color: #CE690E;
    color: #fff;
}


/* Main */
main {
    height: 720px;
    background-color: #fff;
    opacity: 0.3;
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    background-color: rgb(80, 161, 235, 0.28);
}

footer .logo {
    width: 410px;
    height: 75px;
    display: block;
    margin: auto;
}

footer .links {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer .links .link-str a, footer .links .link-buttons .mail-link {
    display: block;
    margin: auto;
    text-decoration: none;
    font-family: "DIN Pro Bold";
    color: #10498A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

footer .links .link-str .vk-link {
    font-size: 32pt;
}

footer .links .link-str {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

footer .links .link-str a:hover, footer .links .link-buttons .mail-link:hover {
    color: #CE690E;
    text-decoration: underline;
}

footer .links .link-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .links .link-buttons a {
    display: block;
    margin: auto;
    text-align: center;
    color: #000;
    font-family: "DIN Pro Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

footer .links .link-buttons .btn-lnk {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .links .link-buttons .btn-lnk .registration-btn {
    margin: auto;
    border: 3px solid #CE690E;
    padding: 5px 10px 5px 10px;
}

footer .links .link-buttons .btn-lnk .registration-btn:hover {
    background-color: #10498A;
    color: #fff;
}

footer .links .link-buttons .btn-lnk .logIn-btn {
    border: 3px solid #10498A;
    padding: 5px 10px 5px 10px;
}

footer .links .link-buttons .btn-lnk .logIn-btn:hover {
    background-color: #CE690E;
    color: #fff;
}
