{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'players' %}">Игроки</a></li>
                {% if user.is_authenticated and not user.is_superuser %}
                    <li><a href="{% url 'player_profile' %}">Личный кабинет</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% elif user.is_superuser %}
                    <li><a href="{% url 'admin_profile' %}">Управление турниром</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy;Гениальный сайт по баскетболу</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>