{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
  <h1>Добро пожаловать на наш сайт по волейболу!</h1>
  <p>Тут должен быть типо сайт для турнира, но видимо мы его никогда не сделаем...</p>

  <div class="news-section">
    <h1>НОВОСТИ</h1>
    {% for article in page_obj %}
      <div class="news-article">
        <h2 class="news-title">{{ article.title }}</h2>
        <p class="news-date">{{ article.pub_date }}</p>
        <p class="news-content">{{ article.content|linebreaks }}</p>
      </div>
    {% empty %}
      <p>Нет новостей</p>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}