{% extends 'base.html' %}

{% block title %}
    Игрок: {{playerStats.player.first_name}} {{playerStats.player.last_name}}
{% endblock %}

{% block content %}
    <p>Имя: {{playerStats.player.first_name}}</p>
    <p>Фамилия: {{playerStats.player.last_name}}</p>
    <p>Возраст: {{playerStats.player.age}}</p>
    <p>Команда: {{playerStats.player.team_id.team_name}}</p>
    <p>Сыграно игр: {{playerStats.games_played}}</p>
    <p>Всего очков: {{playerStats.total_score}}</p>
    <p>Среднее количество очков за игры: {{playerStats.average_score_count}}</p>
{% endblock content %}